* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

header {
  background-color: black;
}

nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
  margin: 0;
  color: white;
}

nav ul li {
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
}


button {
  font: inherit;
  cursor: pointer;
}

/* main */
main {
  margin: 0 auto;
  padding: 2em;
}

/* posts */
ol li {
  position: relative;
}

.remove-post {
  text-decoration: none;
  position: absolute;
  right: 2em;
  top: 1em;
  color: rgb(175, 65, 65);
}

/* comments */
.comment-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding: .5em;
}

.comment-card {
  padding: 1em;
  border: 1px solid;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1em;
}

form label {
  display: flex;
  flex-direction: column;
}

form input {
  font: inherit;
  padding: .2em;
  width: 90%;
}

form button {
  width: 90%;
  padding: .5em 1em;
}

form .text-area-edit {
  height: 400px;
  width: 700px;
}