* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

/* TYPOGRAPHY */
h3 {
  margin-bottom: 0;
}

/* HEADER */
header {
  background-color: black;
}

nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
  margin: 0;
  color: white;
  padding-left: 1em;
}

nav ul li {
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
}


button {
  font: inherit;
  cursor: pointer;
}

/* MAIN */
main {
  margin: 0 auto;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr;
  gap: .5em;
}

/* POSTS */
ol li {
  position: relative;
}

.remove-post {
  text-decoration: none;
  position: absolute;
  right: 2em;
  top: 1em;
  color: rgb(175, 65, 65);
}

/* COMMENTS */
.comment-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding: .5em;
}

.comment-card {
  padding: 1em;
  border: 1px solid;
}

/* FORMS */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1em;
  border: 1px solid;
  padding: 1em;
}

input,
textarea {
  font: inherit;
  padding: .5em;
}

form label {
  display: flex;
  flex-direction: column;
}

.publish-label {
  flex-direction: row;
}

.publish-label input {
  flex: 33%;
}

form input {
  font: inherit;
  padding: .2em;
  width: 90%;
}

form button {
  width: 90%;
  padding: .5em 1em;
}

form .text-area-edit {
  height: 400px;
  /* width: 700px; */
}