* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

header {
  background-color: black;
}

nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
  margin: 0;
  color: white;
}

nav ul li {
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}

/* main */
main {
  margin: 0 auto;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1em;
}

form label {
  display: block;
}

form input {
  font: inherit;
  padding: .2em;
  width: 90%;
}

form button {
  width: 90%;
  padding: .5em 1em;
}